.home{
    margin-top: 0.5em;
}
h2{
    margin-top:1em;
}
/*
#registroCliente{
    display: none;
}
*/
.fondo{
    background-repeat: no-repeat;
    width: 100%;
    height: 31em;
    border-radius: 0px;
    padding: 0;
}

.navbar{
    border-radius: 0px;
    background-color: #30343F;
}
.nav-link{
    font-size: 16px;
    color: #d1d8f1;
}
.nav-link:hover{
    color:#848B9F;
}

.navbar-brand{
    color: #d1d8f1;
    padding-right: 1em;
}
.navbar-brand:hover{
    color: #848B9F;
}

body{
    background-color: var(--light);
}

html, body {
    font-family: 'Source Sans Pro', "Helvetica", Helvetica, Arial, sans-serif;
}

.caja{
    border-top-style: solid;
    background-color: lightgray;
    border-top-width: 0.4em;
    padding: 1.5em;
}
.form-control{
    max-width:initial;
}


#btn{
    margin: 10px;
}
.col-md-3 {
    padding: 20px;
    background-color: lightgray;
}

#miCuenta{
    margin-top:5%;
    width:auto;
    height:45em;
    background-color:lightgrey;
}

.cajaDetalleServicio{
    margin-top: 5%;
    width: auto;
    height: 45em;
    background-color: lightgrey;
}

.misServicios{
    padding:20px;
    margin:10px;
    border-style:solid;
    border-width:2px;
    border-color:black;
}

.divDetalleServicio {
    padding: 40px;
    position:absolute; 
    left:470px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
#tipoServicio {
    position: absolute;
    top:-20px;
    left: 535px;
}

#sampleText {
    position:absolute;
    top: 130px;
    left: 335px;
    text-align:center;
    font-style:italic;
    width:300px;
}

.btn-Reservar {
    position: absolute;
    top: 220px;
    left: 515px;
}

.estiloReserva {
    position: absolute;
    left: 705px;
}

.columnaReserva1 {
    padding: 20px;
    margin: 5px;
    background-color: lightgray;
    border-style: solid;
    border-width: 2px;
    border-color: #7e9c7e;
    width: 15em;
    position: absolute;
    left: -70px;
}
.columnaReserva2 {
    padding: 20px;
    padding-bottom:11px;
    margin: 5px;
    width:15em;
    line-height:0px;
    background-color: lightgray;
    border-style: solid;
    border-width: 2px;
    border-color: #7e9c7e;
    position:absolute;
    
}

#disponibilidad{
    width:5em;
    position:absolute;
    top:550px;
    right:595px;
}
#labelTotal {
    position: absolute;
    top: 450px;
    left: 270px;
    text-decoration: underline
}

.btnConfirmarReserva {
    position: absolute;
    top: 415px;
    left: 260px;
}
#detallesReserva {
    position: absolute;
    top: 285px;
    right: 1px;
    text-align: center;
    font-style: italic;
    width: 300px;
}

